<div class="animated fadeIn">

  <app-card [name]="'AC-Fix Service Loading'">
    <div class="row">
      <div class="col-sm-4" *ngFor="let data of acFixLoadingDataSet; let idx = index">
        <app-loading-icon [UUID]="idx" [data]="data"></app-loading-icon>
      </div>
    </div>
  </app-card>

  <div class="row">

    <div class="col-md-12 col-lg-6">
      <app-card [name]="'Current Fixing Queue'">
        <app-table [columns]="currentQueueTableColumns" [enableRowRouting]="true" [dataRows]="currentQueueTableRows"></app-table>
      </app-card>
    </div>

    <div class="col-md-12 col-lg-6">
      <app-card [name]="'Recent finished Result'">
        <app-table [columns]="recentResultTableColumns" [enableRowRouting]="true" [dataRows]="recentResultTableRows"></app-table>
      </app-card>
    </div>

  </div>

</div>
