<div class="animated fadeIn">

  <app-card [name]="(tool | titlecase) + ' Auto-Fix Manual'" [canCollapse]="true">
    <ul>
      <li *ngFor="let line of config.manual.split('\n')">{{ line }}</li>
    </ul>
  </app-card>

  <div class="py-3" *ngIf="!(isFixing() || isFinished())">

    <app-dropdown-prefix-input-group
      [prefixChoices]="config.source"
      [placeholder]="'Repository URL'"
      [buttonText]="'Start'"
      (inputSent)="inputBtnClicked($event)"
    ></app-dropdown-prefix-input-group>

  </div>

  <div class="py-3" *ngIf="isFixing() || isFinished()">

    <app-terminal
      [messageMatchingStrategy]="coloringPattern"
      [logLevelColoringStrategy]="levelColoringStrategy"
      [messageList]="service.getWebSocket(tool).logStream"
    >

      <div class="py-3" *ngIf="isFinished()">
        <a #link [attr.href]="'http://140.112.90.150:5566/history/product/' + service.getWebSocket(tool).buildIndex" style="display: none"></a>
        <span class="autofix-finished-link" (click)="link.click()"><i class="cil-cloud-download"></i> Download Link</span>
        <span style="cursor: default">&nbsp;|&nbsp;</span>
        <span class="autofix-finished-link" (click)="restartLinkClicked()"><i class="fa fa-repeat"></i> Start a new Auto-Fix</span>
      </div>

    </app-terminal>

  </div>

</div>
