<div class="animated fadeIn">

  <app-card [name]="(tool | titlecase) + ' AC-Fix Manual'" [canCollapse]="true">
    <ul>
      <li *ngFor="let line of config.manual.split('\n')">{{ line }}</li>
    </ul>
  </app-card>

  <div class="py-3" *ngIf="!(isFixing() || isFinished())">

    <app-dropdown-prefix-input-group
      [prefixChoices]="config.source"
      [placeholder]="'Repository URL'"
      [buttonText]="'Start'"
      (inputSent)="inputBtnClicked($event)"
    ></app-dropdown-prefix-input-group>

  </div>

  <div class="py-3" *ngIf="isFixing() || isFinished()">

    <app-terminal
      [messageMatchingStrategy]="coloringPattern"
      [logLevelColoringStrategy]="levelColoringStrategy"
      [messageList]="webSocket.logStream"
    >

      <div class="py-3" *ngIf="isFinished()">
        <a #link [attr.href]="productUrl + webSocket.buildIndex" style="display: none"></a>
        <span class="ac-fix-finished-link" *ngIf="isDownloadable()" (click)="link.click()">
          <i class="cil-cloud-download"></i> Download Link ({{ webSocket.productSize | bytes }})
        </span>
        <span *ngIf="!isDownloadable()">No available product</span>
        <span style="cursor: default">&nbsp;|&nbsp;</span>
        <span class="ac-fix-finished-link" (click)="restartLinkClicked()"><i class="fa fa-repeat"></i> Start a new AC-Fix</span>
      </div>

    </app-terminal>

  </div>

</div>
