<div class="row" *ngIf="enablePagination || enableJumpToPage">
  <div class="text-muted px-3 py-2 mr-auto" *ngIf="enablePagination">
    {{ (pagination.currentPage - 1) * pagination.perPage + 1 | ordinal }}
     ~
    {{ pagination.currentPage === pagination.totalPage ? pagination.totalEntry : pagination.currentPage * pagination.perPage | ordinal }}
     entry of total {{ pagination.totalEntry }} {{ pagination.totalEntry > 1 ? 'entries are' : 'entry is' }} displayed
  </div>
  <div class="text-muted px-3 py-1" *ngIf="enablePagination && enableJumpToPage">
    <div class="input-group input-group-sm" style="width: 180px;">
      <input type="text" class="form-control" placeholder="Jump to page" [(ngModel)]="jumpToPageInput">
      <div class="input-group-append">
        <button type="button" class="btn btn-sm btn-secondary" (click)="jumpToPage()">Go</button>
      </div>
    </div>
  </div>
</div>
<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th
        *ngFor="let column of columns"
        [class.text-center]="column.center"
        [style.width]="column.width"
        [style.cursor]="column.sortable ? 'pointer' : 'auto'"
        (click)="sortableColumnClick(column)"
      >
        {{ column.name | titlecase }}
        <ng-container *ngIf="enableSorting && column.sortable">
          &nbsp;<i [ngClass]="getSortingIconClass(column.bind === currentSorting.sorting ? currentSorting.direction : '')"></i>
        </ng-container>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let row of dataRows"
      [style.cursor]="enableRowRouting ? 'pointer' : 'auto'"
      [routerLink]="enableRowRouting ? row['routerLink'] : null"
    >
      <td
        *ngFor="let column of columns"
        [class.text-center]="column.center"
        [ngSwitch]="column.presentType">
        <span class="text-muted" *ngSwitchCase="1">{{ row[column.bind] }}</span>
        <span class="text-muted" *ngSwitchCase="2">{{ row[column.bind] | relativeDate }}</span>
        <span class="text-muted" *ngSwitchCase="3">{{ row[column.bind] | date:'yyyy.MM.dd HH:mm:ss' }}</span>
        <span class="text-muted" *ngSwitchCase="4"><i [ngClass]="row[column.bind]['icon']" [style.color]="row[column.bind]['color']"></i></span>
        <span class="text-muted" *ngSwitchDefault>{{ row[column.bind] }}</span>
      </td>
    </tr>
    <tr *ngIf="dataRows.length === 0">
      <td class="text-muted text-center" [colSpan]="columns.length">No available entry now.</td>
    </tr>
  </tbody>
</table>
<div class="row justify-content-center" *ngIf="enablePagination">
  <pagination
    [boundaryLinks]="true"
    [directionLinks]="true"
    [totalItems]="pagination.totalEntry"
    [itemsPerPage]="pagination.perPage"
    [maxSize]="5"
    [ngModel]="pagination.currentPage"
    (pageChanged)="tablePageChanged($event)"
    class="pagination-sm"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
  ></pagination>
</div>
